$mainWidth:90%;

@media (max-width: 576px) and (orientation:landscape) {
  .welcome {
    padding-top: $navbarHeight;

    .avatar {
      display: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .welcome__heading {
      font-size: 3rem;
    }

  .navbar {
    left: 0;

    .menu-button {
      display: none;
    }

    .section-link {
      display: inline;

      .button {
        padding: 0.6em;
        margin: 0.6em;
      }
    }

    &_hidden {
      top: 0;
      left: 0;
    }
  }

  .contacts {
    grid-template-columns: repeat(3, 1fr);

    &__heading {
      grid-area: 2/2/3/3;
      font-size: 2em;
      width: auto;
    }

    .mail {
      grid-area: 1 / 2 / 2 / 3;
    }

    .skype {
      grid-area: 3/2/4/3;
    }

    a {
      &:nth-child(even) {
        visibility: hidden;
        animation-name: slideInLeft;
        justify-self: end;
      }

      &:nth-child(odd) {
        visibility: hidden;
        animation-name: slideInRight;
        justify-self: start;
      }

    }
  }

  .projects {

    .project {
      flex-flow: row nowrap;

      &:nth-child(even) {

        :last-child {
          order: -1;
        }
      }

    }

  }

  .footer {
    padding: 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}