@import url('https://fonts.googleapis.com/css?family=Prosto+One|Roboto&subset=cyrillic');

$color0: rgb(255, 255, 255);
$color1: rgba(150, 205, 120, 1);
$color2: rgba(50, 55, 50, 1);
$color3: rgba(60, 90, 150, 1);

$navbarHeight:3.2rem;
$navbarWidth:100%;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Prosto One', sans-serif;
  background: $color1;
  background: linear-gradient(to bottom, $color0, $color1);
  letter-spacing: 2px;
}

h1 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.5em;
}

p {
  font-family: 'Roboto', 'sans-serif';
  letter-spacing: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: $color1;
}

li {
  list-style: none;
}

.main {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.section {
  padding-top: $navbarHeight;
  box-shadow: 0 1px 5px $color2;
}

.welcome {
  height: 100vh;
  color: $color3;
  padding: 20% 0 0;
  box-shadow: none;
}

.social {
  animation-delay: .6s;

  &>p {
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 2px;
  }
}

.avatar {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: $color3;
  padding: 1em;
  z-index: 99;
  transition: all .5s;

  .menu-button {
    font-weight: bolder;
    position: relative;
    left: $navbarWidth/3;
  }

  .section-link {
    font-weight: bolder;
    padding: 1em;
    margin: 2em;
  }

  &_hidden {
    top: 5vh;
    left: $navbarWidth/2;
    height: $navbarHeight;
    transition: all .5s;

    .menu-button {
      left: -$navbarWidth/3;
    }

    .section-link {
      display: none;
    }
  }
}

.contacts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: $color3;

  &__item {
    color: $color0;
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;

    i {
      font-weight: normal;
      font-size: 2rem;
      margin-right: 2px;
    }
  }

  a {
    @extend .button;
  }
}

.contactMe {
  font-size: 1em;
  font-weight: bold;
  border-left: solid .2em;
  border-right: solid .2em;
  background-color: lighten($color3, 5%);
  box-shadow: inset 0 1px 5px $color2;
}

.projects {
  display: flex;
  flex-flow: column wrap;
  background-color: $color1;
}

.project {
  padding: 30px;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &:nth-child(even) {
    background-color: darken($color1, 4%);
  }

  &__desktop-view {
    position: relative;

    .svg {
      margin: 2rem;
      height: 14.2rem;
    }

    .image {
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;
      margin: 2.2rem;
      height: 10.6rem;
      width: 16.1rem;
      overflow-y: scroll;

      img {
        width: 100%;
      }
    }

  }

  &__mobile-view {
    position: relative;
    margin-top: 2rem;

    .svg {
      height: 14.7rem;
    }

    .image {
      position: absolute;
      top: 1.2rem;
      left: 0.4rem;
      height: 11.5rem;
      width: 7.2rem;
      overflow-y: scroll;

      img {
        width: 100%;
      }
    }
  }

  &-info {
    color: $color3;
    margin: 2em;
    position: relative;

    &__link {
      display: inline-block;
      margin: 1rem;
    }

    &__header {
      display: inline-block;
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: .5em;
    }

    &__description {
      color: darken($color3, 10%);
      padding-bottom: 30px;
    }
  }
}

.cards {
  color: darken($color1, 45%);
  border-left: solid .2em;
  border-right: solid .2em;
  background-color: lighten($color1, 5%);
  box-shadow: inset 0 1px 5px $color2;
}

.card {
  display: inline-block;
  color: darken($color1, 45%);
  font-weight: bold;
  padding: 0.6em;
  margin: 0.6em;
}

.footer {
  width: 100%;
  padding: 0;
  background-color: darken($color3, 10%);
  color: $color0;
}

.button {
  color: $color0;
  background-color: $color3;
  font-weight: bold;
  border: 1px solid $color0;
  padding: 0.6em;
  margin: 0.6em;
  box-shadow: 0 1px 5px $color2;
  transition: 0.7s ease-out;

  &:hover,
  &_active {
    color: $color3;
    background-color: $color0;
    border: 1px solid $color3;
    transition: 0.2s ease-in;
  }

  &:active {
    box-shadow: inset 0 0 10px $color2;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.animatable {
  animation-play-state: paused;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes blink-caret {

  50% {
    border-color: $color3;
  }
}

.typing {
  border-right: .2em solid transparent;
  animation: blink-caret 1s infinite;
}

@import './media';