@import url('https://fonts.googleapis.com/css?family=Raleway');

$color0: rgba(255, 255, 255, 1);
$color1: rgba(142, 148, 242, 1);
$color2: rgba(159, 160, 255, 1);
$color3: rgba(187, 173, 255, 1);
$color4: rgba(218, 182, 252, 1);
$color5: rgba(70, 70, 236, 0.7);

$navbarHeight:3.2rem;
$navbarWidth:100%;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: $color1;
  background: linear-gradient(to top, $color1, $color4);
}

.main {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

a {
  text-decoration: none;
  display: inline;
  color: $color5;
}

li {
  list-style: none;
}

#welcome-section {

  height: 100vh;
  color: $color0;
  padding: 20% 0 0 0;

  .avatar {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  h1 {
    font-size: 1.5rem;
    margin: 1.5em 0 0.5em 0;
  }

  #social {
    animation-delay: .6s;

    p {
      font-weight: bold;
      line-height: 1.5rem;
      letter-spacing: 2px;
    }
  }
}

#navbar.hidden {
  top: 5vh;
  left: $navbarWidth/2;
  height: $navbarHeight;
  transition: all .5s;

  #menu {
    left: -$navbarWidth/3;
  }

  li {
    display: none;
  }
}

#navbar {
  width: 100%;
  left: 0;
  background-color: $color3;
  padding: 1em;
  z-index: 99;
  transition: all .5s;

  .active {
    @extend .button:hover;
  }

  #menu {
    font-weight: bolder;
    position: relative;
    left: $navbarWidth/3;
  }

  ul {
    li {
      font-weight: bolder;
      padding: 1em;
      margin: 2em;

      a {}
    }
  }
}

#contacts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: $color1;

  p,
  a {
    color: $color0;
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;

    i {
      font-weight: normal;
      font-size: 2rem;
      margin-right: 2px;
    }
  }

  .contactMe {
    font-size: 1em;
    font-weight: bold;
    border-left: solid .2em;
    border-right: solid .2em;
  }

  .mail {}

  .skype {}

  a {
    @extend .button;
  }
}

#projects {
  display: flex;
  flex-flow: column wrap;
  background-color: $color4;

  .project-tile {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &:nth-child(even) {
      background-color: darken($color4, 3%);
    }

    .desktop {
      position: relative;

      .svg {
        margin: 2rem;
        height: 17.9rem;
      }

      .image {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        margin: 2.2rem;
        height: 10.6rem;
        width: 16.6rem;
        overflow-y: scroll;

        img {
          width: 100%;
        }
      }

    }

    .mobile {
      position: relative;
      margin-top: -4rem;

      .svg {
        height: 15rem;
      }

      .image {
        position: absolute;
        top: 1.1rem;
        left: 4.4rem;
        height: 11.4rem;
        width: 7.1rem;
        overflow-y: scroll;

        img {
          width: 100%;
        }
      }
    }

    .info {
      color: $color5;
      margin: 2em;
      position: relative;

      a {
        display: inline-block;
        margin: 1rem;
      }

      h3 {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: .5em;
      }

      p {}

      .cards {

        .card {
          display: inline-block;
          color: $color0;
          background-color: $color5;
          font-weight: bold;
          border: 1px solid $color0;
          padding: 0.6em;
          margin: 0.6em;
        }
      }
    }

  }

}

#footer {
  width: 100%;
  padding: 0;
  background-color: $color5;
  color: $color0;
}

.sticky {
  position: fixed;
}

.button {
  color: $color0;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid $color0;
  padding: 0.6em;
  margin: 0.6em;
  transition: 0.7s ease-out;

  &:hover {
    color: $color5;
    background-color: $color0;
    border: 1px solid $color5;
    transition: 0.2s ease-in;
  }
}

section {
  padding-top: $navbarHeight;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.animatable {
  animation-play-state: paused;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes blink-caret {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: $color0;
  }
}

.typing {
  border-right: .2em solid $color0;
  animation: blink-caret 1s infinite;
}

@import './media';