@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  background: #8e94f2;
  background: linear-gradient(to top, #8e94f2, #dab6fc); }

h1 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.5em 0; }

p {
  font-family: 'Roboto', 'sans-serif'; }

a {
  text-decoration: none;
  display: inline;
  color: rgba(70, 70, 236, 0.7); }

li {
  list-style: none; }

.main {
  text-align: center;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

section {
  padding-top: 3.2rem; }

#welcome-section {
  height: 100vh;
  color: white;
  padding: 20% 0 0 0; }

#social {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; }
  #social p {
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 2px; }

.avatar {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

#navbar.hidden {
  top: 5vh;
  left: 50%;
  height: 3.2rem;
  transition: all .5s; }
  #navbar.hidden #menu {
    left: -33.33333%; }
  #navbar.hidden li {
    display: none; }

#navbar {
  width: 100%;
  left: 0;
  background-color: #bbadff;
  padding: 1em;
  z-index: 99;
  transition: all .5s; }
  #navbar #menu {
    font-weight: bolder;
    position: relative;
    left: 33.33333%; }
  #navbar ul li {
    font-weight: bolder;
    padding: 1em;
    margin: 2em; }

.sticky {
  position: fixed; }

#contacts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #8e94f2; }
  #contacts p,
  #contacts a {
    color: white;
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold; }
    #contacts p i,
    #contacts a i {
      font-weight: normal;
      font-size: 2rem;
      margin-right: 2px; }

.contactMe {
  font-size: 1em;
  font-weight: bold;
  border-left: solid .2em;
  border-right: solid .2em; }

#projects {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #dab6fc; }

.project-tile {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .project-tile:nth-child(even) {
    background-color: #d3a7fb; }

.desktop {
  position: relative; }
  .desktop .svg {
    margin: 2rem;
    height: 14.5rem; }
  .desktop .image {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    margin: 2.2rem;
    height: 10.6rem;
    width: 16.6rem;
    overflow-y: scroll; }
    .desktop .image img {
      width: 100%; }

.mobile {
  position: relative;
  margin-top: 2rem; }
  .mobile .svg {
    height: 15rem; }
  .mobile .image {
    position: absolute;
    top: 1.2rem;
    left: 0.4rem;
    height: 11.5rem;
    width: 7.2rem;
    overflow-y: scroll; }
    .mobile .image img {
      width: 100%; }

.info {
  color: rgba(70, 70, 236, 0.7);
  margin: 2em;
  position: relative; }
  .info a {
    display: inline-block;
    margin: 1rem; }
  .info h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5em; }

.card {
  display: inline-block;
  color: white;
  background-color: rgba(70, 70, 236, 0.7);
  font-weight: bold;
  border: 1px solid white;
  padding: 0.6em;
  margin: 0.6em; }

#footer {
  width: 100%;
  padding: 0;
  background-color: rgba(70, 70, 236, 0.7);
  color: white; }

.button, #contacts a {
  color: white;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.6em;
  margin: 0.6em;
  transition: 0.7s ease-out; }
  .button:hover, .active, #contacts a:hover {
    color: rgba(70, 70, 236, 0.7);
    background-color: white;
    border: 1px solid rgba(70, 70, 236, 0.7);
    transition: 0.2s ease-in; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

.animatable {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.animated {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

@-webkit-keyframes blink-caret {
  0%,
  100% {
    border-color: transparent; }
  50% {
    border-color: white; } }

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent; }
  50% {
    border-color: white; } }

.typing {
  border-right: 0.2em solid white;
  -webkit-animation: blink-caret 1s infinite;
          animation: blink-caret 1s infinite; }

@media (min-width: 768px) {
  #welcome-section {
    padding: 12% 0 0 0; }
    #welcome-section h1 {
      font-size: 3rem; }
  #navbar.hidden {
    top: 0;
    left: 0; }
    #navbar.hidden #menu {
      display: none; }
    #navbar.hidden li {
      display: inline; }
  #navbar {
    left: 0; }
    #navbar #menu {
      display: none; }
    #navbar ul li {
      padding: 0 3em;
      display: inline; }
      #navbar ul li a {
        padding: 0.6em;
        margin: 0.6em; }
  #contacts {
    grid-template-columns: repeat(3, 1fr); }
    #contacts .contactMe {
      grid-area: 2/2/3/3;
      font-size: 2em;
      width: auto; }
    #contacts .mail {
      grid-area: 1 / 2 / 2 / 3; }
    #contacts .skype {
      grid-area: 3/2/4/3; }
    #contacts a:nth-child(even) {
      visibility: hidden;
      -webkit-animation-name: slideInLeft;
              animation-name: slideInLeft;
      justify-self: end; }
    #contacts a:nth-child(odd) {
      visibility: hidden;
      -webkit-animation-name: slideInRight;
              animation-name: slideInRight;
      justify-self: start; }
  #projects .project-tile {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    #projects .project-tile:nth-child(even) :last-child {
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    #projects .project-tile .desktop .image {
      overflow: hidden; }
    #projects .project-tile .mobile .image {
      overflow: hidden; }
  #footer {
    padding: 1rem; } }
