@import url("https://fonts.googleapis.com/css?family=Raleway");
@media screen and (max-device-width: 960px) {
  html {
    font-size: 30px; }
  .main {
    width: 100%; }
  button {
    margin: 1.5rem;
    padding: 2rem; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  background: #8e94f2;
  background: -webkit-gradient(linear, left bottom, left top, from(#8e94f2), to(#dab6fc));
  background: linear-gradient(to top, #8e94f2, #dab6fc); }

.main {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  text-decoration: none;
  display: inline;
  color: rgba(70, 70, 236, 0.7); }

li {
  list-style: none; }

#welcome-section {
  height: 100vh;
  color: white;
  padding: 15% 0 0 0; }
  #welcome-section .avatar {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  #welcome-section h1 {
    font-size: 3rem;
    margin: 1.5em 0 0.5em 0; }
  #welcome-section #social {
    -webkit-animation-delay: .6s;
            animation-delay: .6s; }
    #welcome-section #social p {
      font-weight: bold;
      line-height: 1.5rem;
      letter-spacing: 2px; }

#navbar {
  width: 90%;
  left: 5%;
  background-color: #bbadff;
  padding: 1em;
  z-index: 99; }
  #navbar ul li {
    display: inline-block;
    padding: 1em 3em; }

#contacts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #8e94f2; }
  #contacts p,
  #contacts a {
    color: white;
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold; }
    #contacts p i,
    #contacts a i {
      font-weight: normal;
      font-size: 2rem;
      margin-right: 2px; }
  #contacts .contactMe {
    grid-area: 2/2/3/3;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 2em;
    font-weight: bolder;
    border-left: solid .2em;
    border-right: solid .2em; }
  #contacts .mail {
    grid-area: 1 / 2 / 2 / 3; }
  #contacts .skype {
    grid-area: 3/2/4/3; }
  #contacts a:nth-child(even) {
    justify-self: end; }
  #contacts a:nth-child(odd) {
    justify-self: start; }

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #dab6fc; }
  #projects .project-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between; }
    #projects .project-tile:nth-child(even) {
      background-color: #d3a7fb; }
      #projects .project-tile:nth-child(even) :last-child {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
    #projects .project-tile .image {
      margin: .5em;
      overflow: hidden;
      position: relative;
      background-color: rgba(70, 70, 236, 0.7);
      -webkit-transition: background-color .5s;
      transition: background-color .5s; }
      #projects .project-tile .image:hover img {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1.3);
                transform: translate3d(0, 0, 0) scale(1.3); }
      #projects .project-tile .image:hover .additional {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); }
      #projects .project-tile .image img {
        opacity: .6;
        -webkit-transform: translate3d(0, 0, 0) scale(1.1);
                transform: translate3d(0, 0, 0) scale(1.1);
        -webkit-transition: all .5s;
        transition: all .5s; }
      #projects .project-tile .image .additional {
        position: absolute;
        top: 50%;
        left: 40%;
        opacity: 0;
        -webkit-transform: scale(1.3);
                transform: scale(1.3);
        -webkit-transition: all .5s;
        transition: all .5s;
        color: white; }
    #projects .project-tile .info {
      color: rgba(70, 70, 236, 0.7);
      margin: 2em; }
      #projects .project-tile .info h3 {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: .5em; }

#footer {
  width: 100%;
  padding: 1rem;
  background-color: rgba(70, 70, 236, 0.7);
  color: white; }

.sticky {
  position: fixed; }

.button, #contacts a {
  color: white;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid white;
  padding: 0.6em;
  margin: 0.6em;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out; }
  .button:hover, #contacts a:hover {
    color: rgba(70, 70, 236, 0.7);
    background-color: white;
    border: 1px solid rgba(70, 70, 236, 0.7);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: hidden; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible; } }

.animatable {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.animated {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.slideInLeft, #contacts a:nth-child(even) {
  visibility: hidden;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft; }

.slideInRight, #contacts a:nth-child(odd) {
  visibility: hidden;
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight; }

@-webkit-keyframes blink-caret {
  0%,
  100% {
    border-color: transparent; }
  50% {
    border-color: white; } }

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent; }
  50% {
    border-color: white; } }

.typing {
  border-right: 0.2em solid white;
  -webkit-animation: blink-caret 1s infinite;
          animation: blink-caret 1s infinite; }
